@font-face {
    font-family: "Lora-Italic-VariableFont_wght";
    src: url('../fonts/Lora-Italic-VariableFont_wght') format("truetype");
}

* {
    box-sizing: border-box;
}

html {
    display: flex;
    font-family: "Itim-Regular", "sans-serif";
    margin: 10px 8px;
}


body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #edeff6;
}

.main-container {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px 1px #bfc4c5;
    padding: 30px;
    max-width: 600px;
}

header {
    text-align: center;
    font-size: 15px;
}

.main-heading {
    display: inline-block;
    background: linear-gradient(to right, #56443a, #d5bb90, #85b282, #425e41, #ded949);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
}

h3 {
    color: #51ba4a;
}

form {
    display: flex;
    margin: 24px 0;
}

.search-input-container {
    width: 100%;
    height: 32px;
    background-color: #f7f4e2;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 15px;
    margin-right: 8px;
}

.search-input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-family: "Lora-Italic-VariableFont_wght", "sans-serif";
}

.search-icon {
    color: #917a51;
}

.location-icon {
    color: #ffffff;
}

.submit-button {
    width: 30px;
    height: 30px;
    background-color: #917a51;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.search-result-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.weather-box {
    background-color: #c3f5ca;
    border-radius: 15px;
    padding: 8px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 20px);
}

.weather-icon {
    text-align: left;
    color: #ffffff;
    margin: 18px 10px 32px 10px;
    position: relative;
    z-index: 1;
}

.weather-icon::before {
    content: "\f0c2";
    font-family: "fontAwesome", "sans-serif";
    position: absolute;
    left: 14px;
    top: -7px;
    z-index: -1;
    font-size: large;
    color: #5b5858;
}

.temperature-item {
    display: flex;
    align-items: center;
    margin: 10px;
    color: rgb(0, 0, 0);
}

.temperature {
    font-weight: bold;
    font-size: 18px;
    position: relative;
}

.unit {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.condition-text {
    font-weight: bold;
    font-size: 15px;
    margin-left: 26px;
}


.wind-humidity-location-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 20px);
    gap: 16px;
}

.weather-result-item {
    width: 100%;
    padding: 14px 12px;
    color: #000000;
    font-size: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.wind-item {
    background-color: #fffaa1;
}

.humidity-item {
    background-color: #a9a479;
}

.location-item {
    background-color: #9ddece;
}

.icon-in-item {
    color: #000000;
    margin-right: 10px;
}


@media screen and (max-width: 480px) {

    .search-result-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather-box {
        width: 100%;
    }

    .wind-humidity-location-container {
        width: 100%;
        margin: 10px;
        gap: 16px;
    }
}
